@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: #0B0F1A;
  --color-surface: #111827;
  --color-primary: #38BDF8;
  --color-accent: #A855F7;
  --color-textMain: #E5E7EB;
  --color-textMuted: #9CA3AF;
  --font-sans: var(--font-inter);
  --font-heading: var(--font-sora);
  
  --shadow-glow: 0 0 40px rgba(56,189,248,0.15);
  --shadow-soft: 0 10px 40px rgba(0,0,0,0.6);
}

body {
  background: var(--color-background);
  color: var(--color-textMain);
  font-family: var(--font-sans);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0F1A;
    --foreground: #E5E7EB;
  }
}
